<div class="hero is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div class="columns is-flex is-flex-direction-column box">

      <%= form_with(model: address) do |form| %>
        <% if address.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :number, class: 'label' %>
          <div class="control">
            <%= form.text_field :number, class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= form.label :street, class: 'label' %>
          <div class="control">
            <%= form.text_field :street, class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= form.label :city, class: 'label' %>
          <div class="control">
            <%= form.text_field :city, class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= form.label :province, class: 'label' %>
          <div class="select">
            <%= form.collection_select :province_id, Province.all, :id, :name, prompt: true, selected: address.province_id %>
          </div>
        </div>

        <div class="field">
          <%= form.label :postal_code, class: 'label' %>
          <div class="control">
            <%= form.text_field :postal_code, class: 'input' %>
          </div>
        </div>

        <div class="actions control">
          <%= form.submit 'Update address', class: 'button is-primary is-fullwidth' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
