<div class="content">
  <h1>Your orders</h1>
  <% @orders.each do |order| %>
    <%= link_to "Order ##{order.id}", order_path(order)  %>
    <p>Products:</p>
    <table class="table">
      <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <% order.products.each do |product| %>
        <tr>
          <th><%= link_to image_tag(product.image.variant(:thumb), alt: product.name), product %></th>
          <td><%= product.name %></td>
          <td>
            <%= render 'product/sale', product: product %>
          </td>
          <td>
            <%= product.order_products.first.quantity %>
          </td>
          <td>
            <% if product.sale != nil %>
              <%= number_to_currency (product.price - product.price * product.sale ) * product.order_products.first.quantity %>
            <% else %>
              <%= number_to_currency product.price * product.order_products.first.quantity %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "View details", order_path(order), class: 'button is-warning is-fullwidth'  %>
  <% end %>
</div>