<div class="column is-one-quarter">
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <%= link_to image_tag(product.image.variant(:normal), alt: product.name), product %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <p class="title is-6">
              <%= truncate product.name, length: 30 %>
            </p>
            <%= render "product/sale", product: product %>
          </div>
        </div>

        <div class="content">
          Flower family name: <%= link_to product.category.name, product.category %>
        </div>
        <%= render 'product/cart', product: product %>
      </div>
    </div>
  </a>
</div>

