<div class="content">
  <p class="mb-5">
    Found <%= pluralize(@products.length, 'Product') %> found when search for "<%= params[:keywords]%>"
    <%= render 'paginate', products: @products %>
    <% if @category %>
      , category: "<%= @category.name %>"
    <% end %>
  </p>
</div>
<div class="columns is-multiline is-mobile">

  <% @products.each do |product| %>
    <%= render 'product', product: product %>
  <% end %>
</div>